body {
background-color: #3352de;
}
.homebody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }
  .central-box {
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
  }
  .teachersList{
    color: white;
    list-style: square;
    margin-left: 5%;
    text-decoration: underline;
    margin-top: 15px;
  }
  .appointmentsCSS{
    margin-left: 8%;
  }
  .eachTeach{
    color: white;
    list-style: square;
    margin-left: 8%;
    display: block;
    text-decoration: none;
  }
  .eachTeach:hover{
    color: black;
  }
  .welcomeCSS{
    margin-top: 5%;
    text-align:center;
    background-color: white;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    border: solid 4px;
    display: block;
    margin: auto;
    width: 75%;
  }
  .welcBox{
    margin: auto;
    width: 100%;
  }
  .appointmentLB{
    font: bold 17px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;  
    text-align: center;
    display: block;
    margin: auto;
    width: 75%;
  }

  .apps{
    margin-left: 5%;

  }
  .appsdate{
    margin-left: 10%;
    font-size: 15px;
    color: gray;
  }
  .deleteappButton{
    margin-left: 10%;
    font-size: 15px;
    margin-bottom: 8px;
  }
  .AppointmentBlock{
    width: 50%;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 0 0 15px 20px;
    border: solid 4px;
  }
  .timecontainer{
    margin-bottom: 10px; 
    text-align: center;
  }
  .checkcontainer{
    margin: auto;
    width: 30%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .submitcont{
text-align: center;
  }
  .formcont{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anotherformdiv{
      width: 60%; 
    background-color: beige;
    padding: 17px;
    border-radius: 10px; 
     margin: auto; 
     border: solid 4px; 
     justify-content: center; 
     align-items: center;  
  }
  .searchbar{
    margin-left: 10%;
    margin-bottom: 15px;
    margin-top: 10px;
  }


  @media only screen and (max-width: 765px) {
    .checkcontainer {
      width: 40%;
    }
  }

  @media only screen and (max-width: 600px) {
    .checkcontainer {
      width: 55%;
    }
  }

  @media only screen and (max-width: 425px) {
    .inputfix {
    width: 100%;
    }

    .checkcontainer {
      width: 80%;
    }

  }
  .teacherthing{
    margin-top: 25px;
    text-align: center;
  }

  .blahblah{
    font-size: 25px;
    font-weight: 700;
  }
  .announ{
    margin-top: 15%;
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  .submitbutttt{
    text-align: center;
  }
  .announcetext{
    width: 75%;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    border: solid 4px;
    font-size: 12px;
  }
  .textertexter{
    margin-top: 10%;
    text-align: center;
    width: 75%;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    border: solid 4px;
    font-size: 12px;
  }
  .cancAppCont{
    margin-top: 5%;
    text-align:center;
    background-color: white;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    border: solid 4px;
    display: block;
    margin: auto;
    width: 75%;
  }
  p{
    font-weight: 600;
    text-decoration: underline;
  }
  .military{
    margin-bottom: 5%;
    font-weight: 500;
    text-decoration: underline;
  }
  .announcer{
    text-align: center;
    width: 45%;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    border: solid 4px;
    font-size: 15px;
  }