body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color: #3352de;
}
.central-box{
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
.signintext{
color: #423e32;
}
.user-pass{
    margin-top: 5px;
    padding: 0px 15px 0px 5px;
    background-color:gray;
    display: inline-block;
    font-size: 15px;
}